<%#= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Sale Prices"} %>

<%= csrf_meta_tag %>
<div data-hook="admin_sale_prices_form_taxons">
  <%= f.field_container :taxons, class: ['form-group'] do %>
      <%= f.label :taxon_ids, Spree.t(:taxons) %>

      <% if can? :modify, Spree::Classification %>
          <%= f.hidden_field :taxon_ids, value: @product.taxon_ids.join(',') %>
      <% elsif @product.taxons.any? %>
          <ul class="text_list">
            <% @product.taxons.each do |taxon| %>
                <li><%= taxon.name %></li>
            <% end %>
          </ul>
      <% else %>
          <div class="alert alert-info"><%= Spree.t(:no_resource_found, resource: :taxons) %></div>
      <% end %>

  <% end %>
</div>

<div id="add-line-item">
  <fieldset>
    <legend align="center">
      <%= Spree.t('add_product_sale_prices') %>
    </legend>
    <!--
    :id,
                :value,
                :currency,
                :start_at,
                :end_at,
                :enabled

    -->
    <%= form_for [:admin, Spree::SalePrice.new], remote: true do |f| %>
        <div class="col-lg-6 col-md-12">
          <div class="form-group col-lg-4">
            <%= label_tag t('original_price') %>
            <%= f.check_box :enabled, class: "form-control" %>
          </div>

          <div class="form-group col-lg-4 col-md-6">
            <%= f.label :value, t('sale_price_amount') %>
            <%= f.text_field :value, class: "form-control" %>
          </div>

          <div class="form-group col-lg-4 col-md-6">
            <%= f.label :currency, t('sale_price_currency') %>
            <%= f.select :currency, options_for_select(supported_currencies_for_sale_price), {}, { class: "form-control"} %>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="col-lg-4 col-md-6">
            <%= f.label :start_at, t('sale_price_start_at') %>
            <%= f.text_field :start_at, class: "datepicker form-control"  %>
          </div>
          <div class="col-lg-4 col-md-6">
            <%= f.label :end_at, t('sale_price_end_at') %>
            <%= f.text_field :end_at, class: "datepicker form-control" %>
          </div>
          <div class="col-lg-4 pull-right">
            <%= f.label :submit, style: 'visibility: hidden;' %>
            <%= f.submit "Add Sale Price", class: "btn btn-default" %>
          </div>
        </div>

    <% end %>
  </fieldset>
</div>

<div id="product-sale-prices-table">
  <%#= render partial: "table", locals: { product: @product } %>
</div>