<% if @sale_prices.present? %>
<table class="index" data-hook="sale_price_table" id="product_sale_prices">
  <colgroup>
    <col>
    <col>
    <col style="width: 30%">
    <col style="width: 30%">
    <col>
    <col>
  </colgroup>
  <thead>
  <tr data-hook="sale_prices_header">
    <th>
      <%= Spree.t('value') %>
    </th>
    <th>
      <%= Spree.t('currency') %>
    </th>
    <th>
      <%= Spree.t('sale_price_start_at') %>
    </th>
    <th>
      <%= Spree.t('sale_price_end_at') %>
    </th>
    <th>
      <%= Spree.t('sale_price_enabled') %>
    </th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "sale_price", collection: @sale_prices, locals: {} %>
  </tbody>
</table>
<% else %>
    <%= render partial: "form"%>
<% end %>