<%= csrf_meta_tag %>

<div id="add-line-item">
  <fieldset>
    <legend align="center">
      <%= Spree.t('add_product_sale_prices') %>
    </legend>

    <%= form_for [:admin, @sale_promotion] do |f| %>

        <div class="col-lg-12 col-md-12">
          <div class="form-group col-lg-3 col-md-3 col-sm-6">
            <%= f.label :name, Spree.t('name', scope: :spree_sale_price) %>
            <%= f.text_field :name, :class => 'form-control', :required => 'required' %>
          </div>

          <div class="form-group col-lg-2 col-md-3 col-sm-6">
            <%= f.label :value, Spree.t('value', scope: :spree_sale_price) %>
            <%= f.text_field :value, class: 'form-control' %>
          </div>

          <div class="form-group col-lg-2 col-md-3 col-sm-6">
            <%= f.label :kind, Spree.t('type', scope: :spree_sale_price) %>
            <%= f.select :kind, options_for_select([
                [Spree.t('sale_types.percentage', scope: :spree_sale_price), 'percentage'],
                [Spree.t('sale_types.fixeddiscount', scope: :spree_sale_price), 'fixeddiscount'],
                [Spree.t('sale_types.fixedprice', scope: :spree_sale_price), 'fixedprice']],
              @sale_promotion.kind), {}, {:class => 'select2'} %>
          </div>

          <div class="form-group col-lg-2 col-md-3 col-sm-6">
            <%= f.fields_for Spree::SalePrice.new do |ff| %>
              <%= ff.label :currency, Spree.t('currency', scope: :spree_sale_price) %>
              <%= ff.select :currency, options_for_select(supported_currencies_for_sale_price), {}, { class: 'select2'} %>
            <% end %>
          </div>

        </div>

        <div class="col-lg-12">
          <div class="form-group col-lg-12">
            <%= f.label :taxons, Spree.t('taxons', scope: :spree_sale_price) %>
            <div data-hook="admin_sale_prices_form_taxons">
            <%= f.select :taxons, options_for_select(@taxons.map {|t| [t.name, t.id]}, @sale_promotion.taxons.map { |s| s.id }), {include_hidden: false}, {multiple: true, class: 'select2'} %>
            </div>

          </div>
        </div>

        <div class="col-lg-12">
          <div class="form-group col-lg-1 col-md-2">
            <%= f.label :status, Spree.t('sale_price_enabled', scope: :spree_sale_price) %>
            <%= f.check_box :status, class: 'form-control' %>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6">
            <%= f.label :start_at, Spree.t('start_at', scope: :spree_sale_price) %>
            <%= f.text_field :start_at, value: datepicker_field_value(@sale_promotion.start_at), class: 'datepicker datepicker-from form-control' %>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <%= f.label :end_at, Spree.t('end_at', scope: :spree_sale_price) %>
            <%= f.text_field :end_at, value: datepicker_field_value(@sale_promotion.end_at), class: 'datepicker datepicker-from form-control' %>
          </div>
          <div class="form-group col-lg-3 col-md-4 pull-right">
            <%= f.label :submit, style: 'visibility: hidden;' %>
            <%= f.submit Spree.t('save', scope: :spree_sale_price), class: 'btn btn-primary form-control' %>
          </div>
        </div>
    <% end %>
  </fieldset>
</div>
