<%#= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Product Sale Prices"} %>


<%= csrf_meta_tag %>
<div id="add-line-item">
  <fieldset>
    <legend align="center">
      <%= Spree.t('add_product_sale_prices') %>
    </legend>

    <%= form_for [:admin, @sale_promotion], remote: @remote do |f| %>

        <div class="col-lg-12 col-md-12">
          <div class="form-group col-lg-3">
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name, :class => 'form-control', :required => 'required' %>
          </div>

          <div class="col-lg-3 form-group">
            <%= f.label :kind, 'Type' %>
            <%= f.select :kind, options_for_select([['Percentual', 'percentual'], ['Fixed discount', 'fixeddiscount'], ['Fixed price', 'fixedprice']], @sale_promotion.kind), {}, {:class => 'select2'} %>
          </div>

        <%= f.fields_for Spree::SalePrice.new do |ff| %>
          <div class='form-group col-lg-6'>
            <%= f.label :taxons, 'Taxons' %>
            <div data-hook="admin_sale_prices_form_taxons">
            <%= f.select :taxons, options_for_select(@taxons.map {|t| [t.name, t.id]}, @sale_promotion.taxons.map { |s| s.id }), {include_hidden: false}, {multiple: true, class: 'select2'} %>
            </div>

          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="form-group col-lg-4">
            <%= f.label :status, t('sale_price_enabled') %>
            <%= f.check_box :status, class: 'form-control js-switch' %>

          </div>

          <div class="form-group col-lg-4 col-md-6">
            <%= f.label :value, 'Value' %>
            <%= f.text_field :value, class: 'form-control' %>
          </div>

          <div class="form-group col-lg-4 col-md-6">
            <%= ff.label :currency, 'Currency' %>
            <%= ff.select :currency, options_for_select(supported_currencies_for_sale_price), {}, { class: 'select2'} %>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="col-lg-4 col-md-6">
            <%= f.label :start_at, t('sale_price_start_at') %>
            <%= f.text_field :start_at, class: 'datetimepicker form-control'  %>
          </div>
          <div class="col-lg-4 col-md-6">
            <%= f.label :end_at, t('sale_price_end_at') %>
            <%= f.text_field :end_at, class: 'datetimepicker form-control' %>
          </div>
          <div class="form-group col-lg-4 pull-right">
            <%= ff.label :submit, style: 'visibility: hidden;' %>
            <%= ff.submit 'Save', class: 'btn btn-primary form-control' %>
          </div>
        </div>

        <% end %>

    <% end %>
  </fieldset>
</div>
