<tr class="spree-product-sale-price" data-hook="sale_prices_row" id="<%= sale_promotion.id %>">
  <td><%= sale_promotion.name %></td>
  <td><%= display_type sale_promotion.kind %></td>
  <td><%= display_discount sale_promotion.kind, sale_promotion.value %></td>
  <td><%= display_datetime sale_promotion.start_at %></td>
  <td><%= display_datetime sale_promotion.end_at %></td>
  <td><%= display_status sale_promotion.status %></td>
  <td>
    <a class="btn btn-primary btn-sm icon-link with-tip action-edit no-text" href="<%= edit_admin_sale_promotion_path(sale_promotion) %>"><span class="icon icon-edit"></span></a>
    <a class="btn btn-danger btn-sm delete-resource icon-link with-tip action-delete no-text" data-method="delete" data-confirm="Are you sure?" href="<%= admin_sale_promotion_path(sale_promotion) %>"><span class="icon icon-delete"></span></a>
  </td>
</tr>