<div id='product-sale-prices-table'>
  <table class="table table-hover">
    <thead>
    <tr>
      <th><%= Spree.t(:name, scope: :spree_sale_price) %></th>
      <th><%= Spree.t(:type, scope: :spree_sale_price) %></th>
      <th><%= Spree.t(:discont, scope: :spree_sale_price) %></th>
      <th><%= Spree.t(:start_at, scope: :spree_sale_price) %></th>
      <th><%= Spree.t(:end_at, scope: :spree_sale_price) %></th>
      <th><%= Spree.t(:status, scope: :spree_sale_price) %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
        <%= render partial: 'sale_promotion', collection: @sale_price_promotions, locals: {} %>
    </tbody>

  </table>
</div>
